doctype html
html 
    head 
        meta(charset="UTF-8")
        title test 

    body    
        include header
        block content
        include footer

        script(type="module" src="main.js")
